<% var lang = page.lang === 'zh-cn' ? 'zh-cn' : 'en' %>
<!DOCTYPE html>
<html lang="<%- lang %>">
  <head>
    <meta charset="utf-8">

    <title><%- config.title %> | <%- page.slogan || page.title %></title>
    <meta name="keywords" content="Kotlin, ORM, SQL, DSL, sequence">
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 站内所有 HTTP 资源，一律替换为 HTTPS -->
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <!-- 协议降级，跳转到非 HTTPS 的站点时，仍然携带 referrer 请求头 -->
    <meta name="referrer" content="always" />

    <!-- Disable Baidu transformation -->
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <!-- stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700" rel="stylesheet">
    <link href="<%- url_for('vendors/font-awesome@4.7.0/css/font-awesome.min.css') %>" rel="stylesheet">
    <link href="<%- url_for('vendors/docsearch-css@3.6.2/style.css') %>" rel="stylesheet"/>
    <link href="<%- url_for('style/doc.css') %>" rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="<%- url_for('images/favicon.ico') %>">
  </head>
  <body>
    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-180275463-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <script type="text/javascript">
      window.__INITIAL_STATE__ = <%- JSON.stringify(initial_state) %>;

      if (window.localStorage) {
        if (window.localStorage.getItem('navigation_collapsed') === 'true') {
          document.getElementsByTagName('body')[0].classList.add('doc-navigation--is-collapsed')
        }
      }
    </script>

    <div id="navigation-container"><%- react_component('Navigation', {page, config, url_for, data: site.data}) %></div>

    <div class="doc-content">
      <div id="lang-switcher-container" class="lang-switcher-container">
        <%- react_component('LangSwitcher', {page, url_for}) %>
      </div>

      <div class="dc-page">
        <div class="dc-card">
          <%- body %>
        </div>
      </div>

      <div class="doc-footer">
        <% var year = new Date().getFullYear() %>
        &copy; <%- year %> KTORM.ORG. Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a> <br/>
        Hosted by
        <a href="https://github.com/kotlin-orm/ktorm">GitHub</a>
        <a href="https://github.com/kotlin-orm/ktorm/stargazers" >
          <img src="https://img.shields.io/github/stars/kotlin-orm/ktorm.svg?style=social" alt="Stars">
        </a>
      </div>
    </div>

    <!-- js scripts -->
    <script src="<%- url_for('vendors/jquery@3.2.1/jquery.min.js') %>"></script>
    <script src="<%- url_for('script/doc.js') %>"></script>

    <!-- fix code highlight -->
    <script>
      (function() {
        $(".kotlin .code .keyword").each(function() {
          var node = $(this);
          if (node.text() === "where" || node.text() === "set") {
            node.removeClass("keyword");
          }
        });
      })();
    </script>
  </body>
</html>
